.radio-label {
  cursor: pointer;
}

.radio-label > input[type="radio"] {
  display: none;
}

.radio-label > input[type="radio"]:checked + div {
  outline: 1px solid var(--maroon200);
}

.radio-label > input[type="radio"] + div {
  padding: 0px 4px;
  font-size: small;
  margin: 0 4px;
}
